/** Add css rules here for your application. */
body {
	margin: none;
	padding: 0px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.chatBox {
	font-family: monospace;
	font-size: larger;
}

div.chatRoomItem {
	font-family: monospace;
	font-size: larger;
	border: solid black 1px;
}
